* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {
  
  margin: 5px -0;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(45, 92, 209, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(23, 103, 139);
  color: white;
  margin-bottom: 20px;
}
.card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.fa {font-size:50px;}


.alert {
  padding: 20px;
  background-color: rgb(23, 103, 139);
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 30px;
}

.alert.success {background-color: rgb(23, 103, 139);}
.alert.info {background-color: rgb(23, 103, 139);}
.alert.warning {background-color: rgb(23, 103, 139)0;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



table {
  margin-top: 10px;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}











